{
  "root": true,
  "parserOptions":{
    "ecmaVersion":6,
    "sourceType": "module"
  },
  "parser": "babel-eslint",
  "env": {
    "browser": true
  },
  "globals": {
    "var1":true,
    "var2":true
  },
  /*"extends": "standard",*/
  "rules": {
    "generator-star-spacing": "off",
    "no-undef": ["error"],
    "indent": ["off","tab"],
    "no-extra-semi":"error",
    "eol-last": ["off"],
    "no-self-compare":["off"],
    "no-debugger":"off"
    // allow debugger during development
  }
}
